{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
   
    
    <!-- Title Page-->
    <title>NEGOTIATED BENEFIT TRUST COMPANY LIMITED MEMBERSHIP ENROLMENT FORM</title>

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    
</head>

<body>
    
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w880">
            <div class="card card-4">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center mb-5">
                         <div>  
                    
                          <img src="{% static 'images/nbcgh.jpg' %}" alt="my image" height="150" width="170" align="right">
                        
                        
                            <h2><strong class="heading-section">NEGOTIATED BENEFITS TRUSTS COMPANY LIMITED</strong></h2>
                            <p>Loc: Roman Ridge, Emerald House</p>
                            <p>Telephone Number: 0307 022257/8</p>
                            <p>Web: www.nbcghanatrust.com</p>
                            <p>Email: info@nbcghana.com.gh</p>
                         </div> 
                         
                        </div>
                    </div>
                    <h2 class="title" style="background-color:LightGray;">MEMBERSHIP ENROLMENT FORM</h2>
                    
                    <hr> 
                    <b><p><h4>SCHEME AND EMPLOYER INFORMATION</b> (please complete in full)</h4></p>
                    <hr>
                  
                    <form method="POST">
                        {% csrf_token %}
                       
                            
                                <div class="input-group">
                                    <label class="label">{{form.Scheme_name}}</label>
                                </div>
                                  
                        
                            
                        
                    <div class="input-group">
                            <label class="label">Type of Scheme</label>
                                <label>{{form.tire_name}}</label>            
                    </div>
                        <div class="p-t-15">
                        
                       
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Employer's Name</label>
                                   <label>{{form.employers_name}}</label>
                                </div>
                            </div>
                        
                        
                        
                           
                        
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Employer's Enrolment Number</label>
                                    
                                  {{form.enrolment_no}}
                                    
                                </div>
                            </div>
                        </div>  

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Employer's Address</label>
                                   {{form.employer_address}}
                                </div>
                            </div>
                           
                        
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Branch/Site/Location</label>
                                    
                                   {{form.branch}}
                                    
                                </div>
                            </div>
                        </div>    
                        
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Date of entry</label>
                                    <div class="input-group-icon">
                                       {{form.entry_date}}
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                   <label>{{form.employer_gender}}</label>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        <b><p><h4>MEMBER'S PARTICULAR'S</b> (please complete in full)</h4></p>
                        <hr>
                        <div>
                            <p>Title</p>
                            
                            <fieldset>
                                (Tick relevant box)
                       
                                <div class="inline">
                                 
                                  
                                  <label>Mr.</label>
                                 <label>{{form.member_title}}</label>
                               
                        <div>
                            <div class="input-group">
                                <label class="label">Surname</label>
                                <label>{{form.surname}}</label>
                            </div>
                        </div>  
                        <div>
                            <div class="input-group">
                                <label class="label">First Name</label>
                                <label>{{form.firstname}}</label>
                            </div>
                        </div>  
                        <div>
                            <div class="input-group">
                                <label class="label">Other Names </label>
                                <label>{{form.othername}}</label>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Identification Number</label>
                                   <label>{{form.identification_number}}</label>
                                </div>
                            </div>
                        
                        
                        
                           
                        
                            <div class="col-2">
                                <label class="label">Type of Identification</label>
                                <label>{{form.identification_type}}</label>
                            </div>
                        </div> 
                        <div>
                            <div class="input-group">
                                <label class="label">Marital Status</label>
                                <label>{{form.marital_status}}</label>
                                
                            </div>
                        </div>  

                        <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Gender</label>
                                <label>{{form.gender}}</label>
                                
                                    <label class="radio-container m-r-45">Male
                                        <input type="radio" checked="checked" name="gender" required>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Female
                                        <input type="radio" name="gender" required>
                                        <span class="checkmark"></span>
                                    </label>
                                
                            </div>
                        </div>
                        <div class="col-2">
                            
                                <div class="input-group">
                                    <label class="label">Date of Birth</label>
                                    <label>{{form.date_of_birth}}</label>
                                </div>
                            
                        </div>
                        </div>
                    <div class="row row-space">
                        <div class="col-3">
                                <div class="input-group">
                                    <label class="label">Age</label>
                                    <label>{{form.age}}</label>
                                </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Place of Birth</label>
                                
                                <label>{{form.placeofbirth}}</label>
                                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Region</label>
                                <label for="region">Select a region:</label>
                                <label>{{form.region}}</label>

                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Town</label>
                                <label>{{form.town}}</label>
                            </div>
                        </div>
                       
                    
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">District</label>
                                
                                <label>{{form.district}}</label>
                                
                            </div>
                        </div>
                    </div>    
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Residential Address</label>
                                <label>{{form.residential_address}}</label>
                            </div>
                        </div>
                       
                    
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Postal Address</label>
                                
                                <label>{{form.postal_address}}</label>
                                
                            </div>
                        </div>
                    </div>   
                    <div class="row row-space">
                        <div class="col-3">
                        <p>Telephone </p>
                        <p>numbers</p>
                        
                            
                        </div>
                       
                    
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Cell</label>
                                
                               <label>{{form.telephone_number}}</label>
                                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Work</label>
                                
                                <label>{{form.work_number}}</label>
                                
                            </div>
                        </div>
                    </div>   

                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Employer's Address</label>
                                <label>{{form.employer_address1}}</label>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Gender of Employer</label>
                            <label>{{form.employer_gender}}</label>
                            
                                <label class="radio-container m-r-45">Male
                                    <input type="radio" checked="checked" name="employer_gender" required>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">Female
                                    <input type="radio" name="employer_gender" required>
                                    <span class="checkmark"></span>
                                </label>
                            
                        </div>

                    </div>    
                    
                        <div class="input-group">
                            <label class="label">Father's Name</label>
                            
                            <label>{{form.fathers_name}}</label>
                            
                        </div>
                    
                    
                        <div class="input-group">
                            <label class="label">Father's Address</label>
                            
                            <label>fathers_address}}</label>
                            
                        </div>
                    
                    
                        <div class="input-group">
                            <label class="label">Mother's Name</label>
                            
                            <label>{{form.mothers_name}}</label>
                            
                        </div>
                    
                    
                        <div class="input-group">
                            <label class="label">Mother's Address</label>
                            
                            <label>{{form.mothers_address}}</label>
                        </div>   
                        
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">SSNIT Number</label>
                                    <label>{{form.ssnit_number}}</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Date of entry</label>
                                    <label>{{form.date_of_entry}}</label>
                                </div>
                            </div>   
                        </div>   
                        
                        <h3><strong class="heading-section">BENEFICIARY NOMINATION FORM</strong></h3>
                        <br>
                        <hr>
                        <div class="input-group">
                            <label class="label">To the Corporate Trustees/Trustees of</label>
                            <label>{{form.trustee_title}}</label>
                        </div>
                        <div>
                            <p style="align-items: center;">Full name of Scheme in BLOCK CAPITALS</p>
                        </div>
                        <hr>
                        <br>
                        <hr>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">NAME OF MEMBER (BLOCK CAPITALS):</label>
                                    <label>{{form.member_name}}</label>
                                </div>
                            </div>
                        
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Employee Number:</label>
                                    
                                    <label>{{form.employee_number}}</label>
                                    
                                </div>
                            </div>
                        </div>  
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">NAME OF EMPLOYER:</label>
                                    <label>{{form.employer_name}}</label>
                                </div>
                            </div>
                        
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Branch/Site/Plant:</label>
                                    
                                    <label>{{form.employer_branch}}</label>
                                    
                                </div>
                            </div>
                        </div>  
                        <p>1. In accordance with the National Pensions Act (2008) Act 766, a member's dependants and persons whom the member has nominated as beneficiaries although they are not dependants must be taken into account by the Trustees when they decide how the member's lump sum benefits are to be paid in the event of a member's death. To assist the Trustees in making their decision please complete Section 2, 3 and 4 below.</p>
                        <br>
                        <hr>
                        <p>2. DEPENDANTS:</p>
                        <div>
                        <div class="input-group"> 
                        <table>
                            <tr>
                              <th>Surname</th>
                              <th>First Names</th>
                              <th>Gender</th>
                              <th>Date of Birth</th>
                              <th>Percentage of Benefit</th>
                              <th>Relationship</th>
                              
                            </tr>
                            <tr>
                              <td> <label>{{form.dependant_surname}}</label></td>
                              <td> <label>{{form.dependant_firstname}}</label></td>
                              <td><label class="label"></label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Male
                                        <label>{{form.dependant_gender}}</label>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Female
                                        <label>{{form.dependant_gender}}</label>
                                        <span class="checkmark"></span></td>
                              <td> <label for="birthday"></label>
                                <label>{{form.dependant_dob}}</label></td>
                              <td> <label>{{form.percentage_benefit}}</label></td>
                              <td> <label>{{form.relationship}}</label></td>
                             
                            </tr>
                            <tr>
                                <td> <label>{{form.dependant_surname1}}</label></td>
                                <td> <label>{{form.dependant_firstname1}}</label></td>
                                <td><label class="label"></label>
                                  <div class="p-t-10">
                                      <label class="radio-container m-r-45">Male
                                        <label>{{form.dependant_gender1}}</label>
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="radio-container">Female
                                        <label>{{form.dependant_gender1}}</label>
                                          <span class="checkmark"></span></td>
                                <td> <label for="birthday"></label>
                                    <label>{{form.dependant_dob1}}</label></td>
                                <td> <label>{{form.percentage_benefit1}}</label></td>
                                <td> <label>{{form.relationship}}</label></td>
                               
                              </tr>

                              <tr>
                                <td> <label>{{form.dependant_surname2}}</label></td>
                                <td> <label>{{form.dependant_firstname2}}</label></td>
                                <td><label class="label"></label>
                                  <div class="p-t-10">
                                      <label class="radio-container m-r-45">Male
                                         <label>{{form.dependant_gender2}}</label>
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="radio-container">Female
                                        <label>{{form.dependant_gender2}}</label>
                                          <span class="checkmark"></span></td>
                                <td> <label for="birthday"></label>
                                    <label>{{form.dependant_dob2}}</label></td>
                                <td><label>{{form.percentage_benefit2}}</label></td>
                                <td> <label>{{form.relationship2}}</label></td>
                               
                              </tr>
                              <tr>
                                <td>  <label>{{form.dependant_surname3}}</label></td>
                                <td><label>{{form.dependant_firstname3}}</label></td>
                                <td><label class="label"></label>
                                  <div class="p-t-10">
                                      <label class="radio-container m-r-45">Male
                                        <label>{{form.dependant_gender3}}</label>
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="radio-container">Female
                                        <label>{{form.dependant_gender3}}</label>
                                          <span class="checkmark"></span></td>
                                <td> <label for="birthday"></label>
                                    <label>{{form.dependant_dob3}}</label></td>
                                <td><label>{{form.percentage_benefit3}}</label></td>
                                <td> <label>{{form.relationship3}}</label></td>
                               
                              </tr>
                              <tr>
                                <td> <label>{{form.dependant_surname4}}</label></td>
                                <td><label>{{form.dependant_firstname4}}</label> </td>
                                <td><label class="label"></label>
                                  <div class="p-t-10">
                                      <label class="radio-container m-r-45">Male
                                        <label>{{form.dependant_gender4}}</label>
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="radio-container">Female
                                        <label>{{form.dependant_gender4}}</label>
                                          <span class="checkmark"></span></td>
                                <td> <label for="birthday"></label>
                                    <label>{{form.dependant_dob4}}</label></td>
                                <td> <label>{{form.percentage_benefit3}}</label></td>
                                <td>  <label>{{form.relationship3}}</label></td>
                               
                              </tr>
                              
        
                        </table>
                        </div>  
                        </div>  

                        <button value="SUBMIT" style="background-color: rgb(160, 86, 131); height: 50px; width: 70px; border-radius: 5px"><label style="color: white">SUBMIT</label></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    
    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>

</body>

</html>
