{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
   
    
    <!-- Title Page-->
    <title>NEGOTIATED BENEFIT TRUST COMPANY LIMITED MEMBERSHIP ENROLMENT FORM</title>

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    
</head>

<body>
    
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w880">
            <div class="card card-4">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center mb-5">
                         <div>  
                    
                          <img src="{% static 'images/nbcgh.jpg' %}" alt="my image" height="150" width="170" align="right">
                        
                        
                            <h2><strong class="heading-section">NEGOTIATED BENEFITS TRUSTS COMPANY LIMITED</strong></h2>
                            <p>Loc: Roman Ridge, Emerald House</p>
                            <p>Telephone Number: 0307 022257/8</p>
                            <p>Web: www.nbcghanatrust.com</p>
                            <p>Email: info@nbcghana.com.gh</p>
                         </div> 
                         
                        </div>
                    </div>
                    <h2 class="title" style="background-color:LightGray;">MEMBERSHIP ENROLMENT FORM</h2>
                    
                    <hr> 
                    <b><p><h4>SCHEME AND EMPLOYER INFORMATION</b> (please complete in full)</h4></p>
                    <hr>
                  
                    <form method="POST">
                        {% csrf_token %}
                       
                            
                                <div class="input-group">
                                    <label class="label">{{form.Scheme_Name}}</label>
                                </div>
                                  
                        
                            
                        
                    <div class="input-group">
                            <label class="label">Type of Scheme</label>
                                <label>{{form.}}</label>            
                    </div>
                        <div class="p-t-15">
                        
                       
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Employer's Name</label>
                                    <input class="input--style-4" type="text" name="employers_name" required>
                                </div>
                            </div>
                        
                        
                        
                           
                        
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Employer's Enrolment Number</label>
                                    
                                    <input class="input--style-4" type="text" name="enrolment_no" required>
                                    
                                </div>
                            </div>
                        </div>  

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Employer's Address</label>
                                    <input class="input--style-4" type="text" name="employer_address" required>
                                </div>
                            </div>
                           
                        
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Branch/Site/Location</label>
                                    
                                    <input class="input--style-4" type="text" name="branch" required>
                                    
                                </div>
                            </div>
                        </div>    
                        
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Date of entry</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="entry_date" required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="employee_gender" required>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="employee_gender" required>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        <b><p><h4>MEMBER'S PARTICULAR'S</b> (please complete in full)</h4></p>
                        <hr>
                        <div>
                            <p>Title</p>
                            
                            <fieldset>
                                (Tick relevant box)
                       
                                <div class="inline">
                                 
                                  
                                  <label>Mr.</label>
                                  <input type="checkbox" name="member_title" required>
                                </div>
                                <div class="inline">
                                    <label>Miss</label>
                                    <input type="checkbox" name="member_title" required>
                                </div>
                                <div class="inline">
                                    <label>Ms.</label>
                                    <input type="checkbox" name="member_title" required>
                                </div>
                                <div class="inline">
                                    <label>Mrs.</label>
                                    <input type="checkbox" name="member_title" required>
                                </div>
                                <div class="inline">
                                    <label>Dr.</label>
                                    <input type="checkbox" name="member_title" required>
                                </div>
                                <div class="inline">
                                    <label>Prof.</label>
                                    <input type="checkbox" name="member_title" required>
                                </div>
                                <div class="inline" >
                                    <label>Hon.</label>
                                    <input type="checkbox" name="member_title" required>
                                </div>
                                <div class="inline" >
                                    <label>Rev.</label>
                                    <input type="checkbox" name="member_title" required>
                                </div>
                                
                            </fieldset>
                            
                        </div>
                        <div>
                            <div class="input-group">
                                <label class="label">Surname</label>
                                <input class="input--style-4" type="text" name="surname" required>
                            </div>
                        </div>  
                        <div>
                            <div class="input-group">
                                <label class="label">First Name</label>
                                <input class="input--style-4" type="text" name="firstname" required>
                            </div>
                        </div>  
                        <div>
                            <div class="input-group">
                                <label class="label">Other Names </label>
                                <input class="input--style-4" type="text" name="othername" required>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Identification Number</label>
                                    <input class="input--style-4" type="text" name="idnumber" required>
                                </div>
                            </div>
                        
                        
                        
                           
                        
                            <div class="col-2">
                                <label class="label">Type of Identification</label>
                                <div class="inline">
                                    <label>Passport Card</label>
                                    <input type="checkbox" name="idtype" required>
                                </div>
                                <div class="inline">
                                    <label>Driver's License</label>
                                    <input type="checkbox" name="idtype" required>
                                </div>
                                <div class="inline">
                                    <label>Voter's Identification</label>
                                    <input type="checkbox" name="idtype" required>
                                </div>
                                <div class="inline">
                                    <label>National ID</label>
                                    <input type="checkbox" name="idtype" required>
                                </div>
                            </div>
                        </div> 
                        <div>
                            <div class="input-group">
                                <label class="label">Marital Status</label>
                                <input class="input--style-4" type="text" name="marital_Status" required>
                            </div>
                        </div>  

                        <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Gender</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Male
                                        <input type="radio" checked="checked" name="gender" required>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Female
                                        <input type="radio" name="gender" required>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            
                                <div class="input-group">
                                    <label class="label">Date of Birth</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="date_of_birth" required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            
                        </div>
                        </div>
                    <div class="row row-space">
                        <div class="col-3">
                                <div class="input-group">
                                    <label class="label">Age</label>
                                    <input class="input--style-4" type="text" name="age" required>
                                </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Place of Birth</label>
                                
                                <input class="input--style-4" type="text" name="placeofbirth" required>
                                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Region</label>
                                <label for="region">Select a region:</label>
                                <select name="region" id="dog-names">
                                  <option value="Choose">Choose</option>
                                  <option value="Greater_Accra">Greater Accra</option>
                                  <option value="Central">Central</option>
                                  <option value="Ashanti">Ashanti</option>
                                  <option value="Oti">Oti</option>
                                  <option value="Volta">Volta</option>
                                  <option value="Ahafo">Ahafo</option>
                                  <option value="Upper-East">Upper East</option>
                                  <option value="Upper-West">Upper West</option>
                                  <option value="Western-North">Western North</option>
                                  <option value="Savannah">Savannah</option>
                                  <option value="Western">Western</option>
                                  <option value="Eastern">Eastern</option>
                                  <option value="North-East">North East</option>
                                  <option value="Northern">Northern</option>
                                  <option value="Bono-East">Bono East</option>
                                  <option value="Brong Ahafo">Brong Ahafo</option>
                                </select>

                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Town</label>
                                <input class="input--style-4" type="text" name="town" required>
                            </div>
                        </div>
                       
                    
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">District</label>
                                
                                <input class="input--style-4" type="text" name="district" required>
                                
                            </div>
                        </div>
                    </div>    
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Residential Address</label>
                                <input class="input--style-4" type="text" name="residential_address" required>
                            </div>
                        </div>
                       
                    
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Postal Address</label>
                                
                                <input class="input--style-4" type="text" name="postal_address" required>
                                
                            </div>
                        </div>
                    </div>   
                    <div class="row row-space">
                        <div class="col-3">
                        <p>Telephone </p>
                        <p>numbers</p>
                        
                            
                        </div>
                       
                    
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Cell</label>
                                
                                <input class="input--style-4" type="text" name="telephone_number" required>
                                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">Work</label>
                                
                                <input class="input--style-4" type="text" name="work_number" required>
                                
                            </div>
                        </div>
                    </div>   

                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Employer's Address</label>
                                <input class="input--style-4" type="text" name="employer_address1" required>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Gender of Employer</label>
                            <div class="p-t-10">
                                <label class="radio-container m-r-45">Male
                                    <input type="radio" checked="checked" name="employer_gender" required>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">Female
                                    <input type="radio" name="employer_gender" required>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                    </div>    
                    
                        <div class="input-group">
                            <label class="label">Father's Name</label>
                            
                            <input class="input--style-4" type="text" name="fathers_name" required>
                            
                        </div>
                    
                    
                        <div class="input-group">
                            <label class="label">Father's Address</label>
                            
                            <input class="input--style-4" type="text" name="fathers_adress" required>
                            
                        </div>
                    
                    
                        <div class="input-group">
                            <label class="label">Mother's Name</label>
                            
                            <input class="input--style-4" type="text" name="mothers_name" required>
                            
                        </div>
                    
                    
                        <div class="input-group">
                            <label class="label">Mother's Address</label>
                            
                            <input class="input--style-4" type="text" name="mothers_address" required>
                        </div>   
                        
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">SSNIT Number</label>
                                    <input class="input--style-4" type="text" name="ssnit_number" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Date of entry</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="date_of_entry" required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>   
                        </div>   
                        
                        <h3><strong class="heading-section">BENEFICIARY NOMINATION FORM</strong></h3>
                        <br>
                        <hr>
                        <div class="input-group">
                            <label class="label">To the Corporate Trustees/Trustees of</label>
                            <input class="input--style-4" type="text" name="trustee_title" required>
                        </div>
                        <div>
                            <p style="align-items: center;">Full name of Scheme in BLOCK CAPITALS</p>
                        </div>
                        <hr>
                        <br>
                        <hr>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">NAME OF MEMBER (BLOCK CAPITALS):</label>
                                    <input class="input--style-4" type="text" name="member_name" required>
                                </div>
                            </div>
                        
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Employee Number:</label>
                                    
                                    <input class="input--style-4" type="text" name="employee_number" required>
                                    
                                </div>
                            </div>
                        </div>  
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">NAME OF EMPLOYER:</label>
                                    <input class="input--style-4" type="text" name="employer_name" required>
                                </div>
                            </div>
                        
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Branch/Site/Plant:</label>
                                    
                                    <input class="input--style-4" type="text" name="employer_branch" required>
                                    
                                </div>
                            </div>
                        </div>  
                        <p>1. In accordance with the National Pensions Act (2008) Act 766, a member's dependants and persons whom the member has nominated as beneficiaries although they are not dependants must be taken into account by the Trustees when they decide how the member's lump sum benefits are to be paid in the event of a member's death. To assist the Trustees in making their decision please complete Section 2, 3 and 4 below.</p>
                        <br>
                        <hr>
                        <p>2. DEPENDANTS:</p>
                        <div>
                        <div class="input-group"> 
                        <table>
                            <tr>
                              <th>Surname</th>
                              <th>First Names</th>
                              <th>Gender</th>
                              <th>Date of Birth</th>
                              <th>Percentage of Benefit</th>
                              <th>Relationship</th>
                              
                            </tr>
                            <tr>
                              <td> <input class="input--style-4" type="text" name="depndant_surname"></td>
                              <td> <input class="input--style-4" type="text" name="dependant_firstname"></td>
                              <td><label class="label"></label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Male
                                        <input type="radio" checked="checked" name="dependant_gender" required>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Female
                                        <input type="radio" name="dependant_gender" required>
                                        <span class="checkmark"></span></td>
                              <td> <label for="birthday"></label>
                                <input type="date" id="birthday" dependant_dob></td>
                              <td> <input class="input--style-4" type="text" name="percentage_benefit"></td>
                              <td> <input class="input--style-4" type="text" name="relationship"></td>
                             
                            </tr>
                            <tr>
                                <td> <input class="input--style-4" type="text" name="depndant_surname"></td>
                                <td> <input class="input--style-4" type="text" name="dependant_firstname"></td>
                                <td><label class="label"></label>
                                  <div class="p-t-10">
                                      <label class="radio-container m-r-45">Male
                                          <input type="radio" checked="checked" name="dependant_gender" required>
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="radio-container">Female
                                          <input type="radio" name="dependant_gender" required>
                                          <span class="checkmark"></span></td>
                                <td> <label for="birthday"></label>
                                  <input type="date" id="birthday" dependant_dob></td>
                                <td> <input class="input--style-4" type="text" name="percentage_benefit"></td>
                                <td> <input class="input--style-4" type="text" name="relationship"></td>
                               
                              </tr>
                              <tr>
                                <td> <input class="input--style-4" type="text" name="depndant_surname"></td>
                                <td> <input class="input--style-4" type="text" name="dependant_firstname"></td>
                                <td><label class="label"></label>
                                  <div class="p-t-10">
                                      <label class="radio-container m-r-45">Male
                                          <input type="radio" checked="checked" name="dependant_gender" required>
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="radio-container">Female
                                          <input type="radio" name="dependant_gender" required>
                                          <span class="checkmark"></span></td>
                                <td> <label for="birthday"></label>
                                  <input type="date" id="birthday" dependant_dob></td>
                                <td> <input class="input--style-4" type="text" name="percentage_benefit"></td>
                                <td> <input class="input--style-4" type="text" name="relationship"></td>
                               
                              </tr>
                              <tr>
                                <td> <input class="input--style-4" type="text" name="depndant_surname"></td>
                                <td> <input class="input--style-4" type="text" name="dependant_firstname"></td>
                                <td><label class="label"></label>
                                  <div class="p-t-10">
                                      <label class="radio-container m-r-45">Male
                                          <input type="radio" checked="checked" name="dependant_gender" required>
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="radio-container">Female
                                          <input type="radio" name="dependant_gender" required>
                                          <span class="checkmark"></span></td>
                                <td> <label for="birthday"></label>
                                  <input type="date" id="birthday" dependant_dob></td>
                                <td> <input class="input--style-4" type="text" name="percentage_benefit"></td>
                                <td> <input class="input--style-4" type="text" name="relationship"></td>
                               
                              </tr>
                              <tr>
                                <td> <input class="input--style-4" type="text" name="depndant_surname"></td>
                                <td> <input class="input--style-4" type="text" name="dependant_firstname"></td>
                                <td><label class="label"></label>
                                  <div class="p-t-10">
                                      <label class="radio-container m-r-45">Male
                                          <input type="radio" checked="checked" name="dependant_gender" required>
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="radio-container">Female
                                          <input type="radio" name="dependant_gender" required>
                                          <span class="checkmark"></span></td>
                                <td> <label for="birthday"></label>
                                  <input type="date" id="birthday" dependant_dob></td>
                                <td> <input class="input--style-4" type="text" name="percentage_benefit"></td>
                                <td> <input class="input--style-4" type="text" name="relationship"></td>
                               
                              </tr>
                              
        
                        </table>
                        </div>  
                        </div>  

                        <button value="SUBMIT" style="background-color: rgb(160, 86, 131); height: 50px; width: 70px; border-radius: 5px"><label style="color: white">SUBMIT</label></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    
    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>

</body>

</html>
